body, .header a{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  width: 100%;
  z-index: 5;
  background-color: black;
}

.header img {
  height: 50px;
}

nav span {
  display: inline-block;
  justify-content: flex-end;

}

.header a {
  text-decoration: underline;
  padding-right: 20px;
}

#mission {
  width: 1200px;
  height: 700px;
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 70px;
}

.mission {
  background-color: black;
  width: 1200px;
}

#tea {
  width: 1000px;
  position: relative;
  top: 70px;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu img{
  width: 300px;
  height: 200px;
  padding: 0;
}

.menu .image {
  width: 300px;
  text-align: center;
  margin: 15px;
}

.image h4 {
  margin-top: 10px;
}

.locations {
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 1200px;
  justify-content: center;
  position: relative;
  background-image: url(../images/img-locations-background.jpg);
  top: 70px;
}

.options{
  display: inline-flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.options .spec {
  background-color: black;
  width: 300px;
  opacity: 1;
  margin:  0 20px;
}

.locations h2 {
  margin-bottom: 15px;
}
